Repository Seniyax/sdgp_v1: changes, and which Jenkins stages are due for each by the changed paths.
All: Frontend: Build & Test, Backend: Build & Test, Mobile: Build & Test

Frontend: Build & Test:
              steps {
                  dir('WebFrontend') {
                      bat 'npm install'
                      bat 'npm run build'
                      bat 'npm test'
                  }
              }
          

Backend: Build & Test:
              steps {
                  dir('Backend') {
                      bat 'npm install'
                      bat 'npm run build' 
                      bat 'npm test'
                  }
              }
          

Mobile: Build & Test:
              steps {
                  dir('MobileFrontend') {
                      bat 'npm install'
                      bat 'npm run build' 
                      bat 'npm test'
                  }
              }
          

Update Jenkinsfile
  Jenkinsfile
Due: none

fix splash Screen
  MobileFrontend/app/index.jsx
Due: Mobile: Build & Test

bug fixes
  Backend/src/controllers/userController.js
  WebFrontend/src/pages/AddReservation.jsx
  WebFrontend/src/pages/ReservationDashboard.jsx
  WebFrontend/src/pages/UserProfile.jsx
  WebFrontend/src/pages/ViewFloorPlan.jsx
  WebFrontend/src/style/SignIn.css
Due: Frontend: Build & Test, Backend: Build & Test

Implement main render with header, tab bar, and reservation list
  MobileFrontend/app/history.jsx
Due: Mobile: Build & Test

Add modal to display detailed reservation information
  MobileFrontend/app/history.jsx
Due: Mobile: Build & Test

Add tab bar with reservation status counts and active tab highlight
  MobileFrontend/app/history.jsx
Due: Mobile: Build & Test

Render reservation items with status icons and colors
  MobileFrontend/app/history.jsx
Due: Mobile: Build & Test

Create README.md
  README.md
Due: none

Path conditions:
  Frontend: Build & Test: any of: WebFrontend/**
  Backend: Build & Test: any of: Backend/**
  Mobile: Build & Test: any of: MobileFrontend/**
